git+https://github.com/huggingface/transformers.git@a982c0225efe3af4700f09d09890b239f551870c
git+https://github.com/huggingface/peft.git@029f416fced285fe72acd4e1be6c48067f7013d5
git+https://github.com/lvwerra/trl.git@7f297b38c665e6d2357dfd5ba552ef685afe1302

# extra libraries whose presence changes the functionality of the above libraries
safetensors==0.3.1
bitsandbytes==0.40.0.post4

# transitive dependencies that the above libraries don't specify properly
einops==0.6.1
scipy==1.11.1
sentencepiece==0.1.99
protobuf==4.23.4
