git+https://github.com/huggingface/transformers.git@2ab75add4b30c2fc44a8bf575156d448d9ed87a7
git+https://github.com/huggingface/peft.git@029f416fced285fe72acd4e1be6c48067f7013d5
git+https://github.com/lvwerra/trl.git@84393f3b94b452adb71d28f42d52c10f0023a834

# extra libraries whose presence changes the functionality of the above libraries
safetensors==0.3.1
bitsandbytes==0.40.0.post4

# transitive dependencies that the above libraries don't specify properly
einops==0.6.1
scipy==1.11.1
sentencepiece==0.1.99
protobuf==4.23.4
