# NOTE: the Makefile also has a special pip install command for PyTorch under the `venv/requirements_installed` target, which can't be put in this file because it uses a different Python package index

git+https://github.com/huggingface/transformers.git@b257c46a075419c09e5ce5c5aa39bc346ecdb9a5
git+https://github.com/huggingface/peft.git@e06d94ddeb6c70913593740618df76908b918d66
git+https://github.com/lvwerra/trl.git@170d58ffcede84b3bc822294317fc2bb6df85865

# extra libraries whose presence changes the functionality of the above libraries
safetensors==0.3.1
bitsandbytes==0.41.0

# transitive dependencies that the above libraries don't specify properly but are necessary anyways
einops==0.6.1
scipy==1.11.1
sentencepiece==0.1.99
protobuf==4.23.4
